@import "../../styles/common.scss";

$table-header-bg: $primary-500;
$table-head-bg: $gray-50;
$table-row-hover-bg: $primary-100;

.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 2rem 0;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $primary-100;

  &-thead {
    // background-color: $table-header-bg;
    // border: 1px solid $primary-100;
    border-bottom: 2px solid $primary-200;
    border-radius: $radius-md;


    .table-th {
      // background-color: $table-head-bg;
      padding: $space-20;
      text-align: center;
      font-weight: bold;
      color: $primary-500;
      transition: background-color 0.3s;
    }
  }

  &-tbody {
    .table-tr {
      transition: background-color 0.3s;
      border-bottom: 1px solid $primary-100;
      cursor: pointer;
      
      // &:nth-child(even) {
      //   background-color: $primary-100;
      // }

      &:hover {
        background-color: $table-row-hover-bg;
      }
    }

    .table-td {
      padding: $space-20;
      // border: 1px solid $primary-300;
      text-align: center;
      color: $gray-900;
    }
    .action-buttons-row {
      display: flex;
      gap: $space-4; // space between buttons
      // flex-wrap: wrap; // optional, allows wrapping on small screens
    }
    
  }
}
.checkbox-cell{
  padding: $space-20;
}

.no-data {
  text-align: center;
  padding: $space-20;
  font-size: 1.25rem;
  color: $gray-700;
}

