@import "../../styles/mixins";

.nav-item,
.sub-item {
  padding: $space-12;
  max-width: 100%;
  cursor: pointer;
  gap: $space-12;
  text-wrap: nowrap;
  margin: $space-2 0;

  &[data-nav-item-active="true"],
  &[data-sub-item-active="true"] {
    background-color: $white;
    color: $primary-500;
    box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 1px 0px #FFF inset;

    path {
      fill: $primary-500;
    }

    &:hover,
    &:focus {
      background-color: $white;
      color: $primary-500;
    }
  }

  svg {
    flex-shrink: 0;
  }
}

.nav-item {
  border-radius: $radius-md;
  @include flex(center, space-between);
  margin-bottom: $space-8;
  @include englishBodyMdSemiBold;

  @include ar {
    @include arabicBodyMdSemiBold;
  }

  +div[class*="dropdown-menu__"] {
    @include sub-items-menu();
  }

  // selecting the last child of nav-item even if it's
  // not the last in the parent element
  &:nth-last-child(1 of .nav-item) {
    margin-bottom: 0;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__featured-icon {
    width: 1.5rem;
    height: 1.5rem;

    @include ar {
      transform: scaleX(-1);
    }
  }

  &__label {
    flex-grow: 1;
  }

  &__chevron {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s;

    @include en {
      transform: rotate(0deg);
    }

    @include ar {
      transform: rotate(180deg);
    }
  }

  &[data-nav-item-active="false"] {
    color: $white;

    path {
      fill: $white;
    }

    &:hover,
    &:focus {
      background-color: $white;
      color: $primary-500;

      path {
        fill: $primary-500;;
      }
    }
  }

  &[data-nav-item-open="true"] {
    .nav-item__chevron {
      transform: rotate(90deg) !important;
    }
  }

  &[data-nav-item-collapsed="true"] {
    width: fit-content;
  }
}

.sub-item {
  border-radius: $radius-md;
  @include flex(center, flex-start);
  margin-inline-start: $space-32;
  position: relative;
  @include englishBodySmSemiBold;

  @include ar {
    @include arabicBodySmSemiBold;
  }

  &[data-sub-item-active="false"] {
    background-color: transparent;
    color: $white;

    path {
      fill: $white;
    }

    &:hover,
    &:focus {
      background-color: $white;
      color: $primary-500;

      path {
        fill: $primary-500;
      }
    }
  }

  &:before {
    position: absolute;
    top: 0;
    inset-inline-start: -2.2rem;
    content: "";
    background-image: url('@app/dashboard/assets/icons/tree.svg');
    background-position: 100%;
    background-repeat: no-repeat;
    width: 2.25rem;
    height: 100%;

    @include ar {
      transform: scaleX(-1);
    }
  }

  &--last {
    &:before {
      position: absolute;
      top: 0;
      inset-inline-start: -2.2rem;
      content: "";
      background-image: url('@app/dashboard/assets/icons/tree-end.svg');
      background-position: 100%;
      background-repeat: no-repeat;
      width: 2.25rem;
      height: 100%;

      @include ar {
        transform: scaleX(-1);
      }
    }
  }
}

.sub-items-list {
  background-color: $primary-500;
  padding: $space-24 $space-24 $space-12 0;

  &__title {
    margin-inline-start: $space-20;
    margin-bottom: $space-16;
    color: $white;
    @include englishBodySmMedium;

    @include ar {
      @include arabicBodySmMedium;
    }
  }

  div[class*="sub-item__"] {
    @include englishBodySmSemiBold;

    @include ar {
      @include arabicBodySmSemiBold;
    }
  }
}
