$white: #ffffff;
$black: #000000;

$gray-25: #FCFCFD;
$gray-50: #F9FAFB;
$gray-100: #F2F4F7;
$gray-200: #EAECF0;
$gray-300: #D0D5DD;
$gray-400: #98A2B3;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1D2939;
$gray-900: #101828;

$primary-25: #fbfaff;
$primary-50: #f5f3ff;
$primary-100: #ece9fe;
$primary-200: #ddd6fe;
$primary-300: #7569e1;
$primary-400: #a48afb;
$primary-500: #4e45c4;
$primary-600: #7839ee;
$primary-700: #6927da;
$primary-800: #5720b7;
$primary-900: #372a9a;

$error-25: #ffe8ee;
$error-50: #ffd0dc;
$error-100: #ffb9cb;
$error-200: #ffa1ba;
$error-300: #ff7397;
$error-400: #ff4475;
$error-500: #ff1552;
$error-600: #cc1142;
$error-700: #990d31;
$error-800: #660821;
$error-900: #330410;

$warning-25: #fffcf5;
$warning-50: #fffaeb;
$warning-100: #fef0c7;
$warning-200: #fedf89;
$warning-300: #fec84b;
$warning-400: #fdb022;
$warning-500: #f79009;
$warning-600: #dc6803;
$warning-700: #b54708;
$warning-800: #93370d;
$warning-900: #7a2e0e;

$success-25: #e6f7f3;
$success-50: #cdf0e7;
$success-100: #b4e8dc;
$success-200: #9be1d0;
$success-300: #68d1b8;
$success-400: #36c2a1;
$success-500: #04b389;
$success-600: #038f6e;
$success-700: #026b52;
$success-800: #024837;
$success-900: #01241b;

$brown-25: #fdfdfc;
$brown-50: #fafaf9;
$brown-100: #f5f5f4;
$brown-200: #e7e5e4;
$brown-300: #d7d3d0;
$brown-400: #a9a29d;
$brown-500: #79716b;
$brown-600: #57534e;
$brown-700: #44403c;
$brown-800: #292524;
$brown-900: #1c1917;

$teal-25: #f6fefc;
$teal-50: #f0fdf9;
$teal-100: #ccfbef;
$teal-200: #99f6e0;
$teal-300: #5fe9d0;
$teal-400: #2ed3b7;
$teal-500: #15b79e;
$teal-600: #0e9384;
$teal-700: #107569;
$teal-800: #125d56;
$teal-900: #134e48;

$violet-25: #fbfaff;
$violet-50: #f5f3ff;
$violet-100: #ece9fe;
$violet-200: #ddd6fe;
$violet-300: #c3b5fd;
$violet-400: #a48afb;
$violet-500: #875bf7;
$violet-600: #7839ee;
$violet-700: #6927da;
$violet-800: #5720b7;
$violet-900: #491c96;

$fuchsia-25: #fefaff;
$fuchsia-50: #fdf4ff;
$fuchsia-100: #fbe8ff;
$fuchsia-200: #f6d0fe;
$fuchsia-300: #eeaafd;
$fuchsia-400: #e478fa;
$fuchsia-500: #d444f1;
$fuchsia-600: #ba24d5;
$fuchsia-700: #9f1ab1;
$fuchsia-800: #821890;
$fuchsia-900: #491c96;
