@import "@/styles/common.scss";
@import "../../../design-system/styles/theme.scss";

.account-bar {
  width: 100%;
  @include flex(center, center);
  gap: $space-12;

  img,
  svg,
  &__info,
  &__avatar {
    cursor: pointer;
  }


  &__avatar {
    @include flex(center, center);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    &[data-account-bar-avatar-type="name"] {
      background-color: var(--avatar-bg);
      color: var(--avatar-text);
      @include englishBodyMdRegular;

      @include ar {
        @include arabicBodyMdRegular;
      }
    }

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }
  }

  &__info {
    @include flex(flex-start, space-between);
    flex-direction: column;
    flex-grow: 1;

    &__name {
      color: var(--side-nav-text);
      @include englishHeadingCompactSemiBold;

      @include ar {
        @include arabicHeadingCompactSemiBold;
      }
    }

    &__role {
      color: var(--side-nav-text-secondary);
      @include englishHelperTextRegular;

      @include ar {
        @include arabicHelperTextRegular;
      }
    }
  }

  &__logout {
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: inherit;
      height: inherit;

      path {
        fill: var(--side-nav-icon);
      }

      @include ar {
        transform: scaleX(-1);
      }
    }
  }

}
