@import "./common.scss";

@mixin outer-layout-form-footer($className) {
  &#{$className} {
    @include flex(center, center);
    gap: $space-4;
    width: 100%;
    text-align: center;
    @include englishLabelSemiBold;

    @include ar {
      @include arabicLabelSemiBold;
    }

    &__text {
      color: $gray-600;
    }

    &__action {
      width: fit-content;
      color: $primary-500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@mixin sub-items-menu() {
  box-shadow: 0rem -0.8125rem 1.5rem -0.4375rem rgba(0, 0, 0, 0.05), 0rem 1.5rem 2.5rem -0.6875rem rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(12px);
  border: 0.0625rem solid $gray-200;
  border-radius: $radius-lg;
  padding-block: 0;
}
