.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 20px;

  h3 {
    margin: 0;
    white-space: nowrap;
  }

  .filters_container {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
  }
}