@import "../../styles/common.scss";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: $space-16;
  color: $error-500;

  &__text {
    font-size: 1.25rem;
    color: $error-500;
  }
}
