@import "../../styles/common.scss";
@import "../../design-system/styles/theme.scss";

.navbar {
  z-index: 1;
  height: var(--navbar-height);
  position: sticky;
  top: 0;
  padding: $space-8 $space-12;
  background: var(--top-bar-bg);
  border-bottom: 1px solid var(--top-bar-border);
  box-shadow: var(--top-bar-shadow);
  @include flex(center, space-between);

  .__actions-box {
    @include flex(center, flex-end);
    gap: $space-24;

    div[class*="toggle-box"] {
      width: fit-content;
    }

    &__action-icon {
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: var(--top-bar-text);
        }
      }

      &:hover {
        svg path {
          fill: var(--top-bar-text-hover);
        }
      }
    }
  }
}