@import "../../styles/mixins";
@import "../../design-system/styles/theme.scss";

.account-bar {
  width: 100%;
  background-color: $gray-50;
  @include flex(center, center);
  gap: $space-12;

  svg,
  &__info {
    cursor: pointer;
  }

  +div[class*="dropdown-menu__"] {
    @include sub-items-menu();
  }

  &__avatar {
    @include flex(center, center);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

    &[data-account-bar-avatar-type="name"] {
      background-color: var(--avatar-bg);
      color: var(--avatar-text);
      @include englishBodyMdRegular;

      @include ar {
        @include arabicBodyMdRegular;
      }
    }

    img {
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }
  }

  &__info {
    @include flex(flex-start, space-between);
    flex-direction: column;
    flex-grow: 1;

    &__name {
      color: var(--side-nav-text);
      @include englishHeadingCompactSemiBold;

      @include ar {
        @include arabicHeadingCompactSemiBold;
      }
    }

    &__role {
      color: $gray-500;
      @include englishHelperTextRegular;

      @include ar {
        @include arabicHelperTextRegular;
      }
    }
  }

  &__logout {
    width: 1.5rem;
    height: 1.5rem;

    svg {
      width: inherit;
      height: inherit;

      path {
        fill: $gray-500;
      }

      @include ar {
        transform: scaleX(-1);
      }
    }
  }

}
