@import "@/styles/common.scss";

.lang-switcher {
  @include flex(flex-start);

  @include ar {
    flex-direction: row-reverse;
  }

  cursor: pointer;

  svg {
    width: 1rem;
    margin-inline: $space-4;
    color: $primary-500;
  }

  span {
    color: $primary-500;
    @include englishLabelCompactMedium;

    @include ar {
      @include arabicLabelCompactMedium;
    }
  }
}

.lang-switcher.inner {
  .lang-button {
    display: flex;
  }

  svg,
  span {
    color: $white;
  }
}