@import '../../styles/common.scss';
@import '../../../design-system/styles/theme.scss';

.avatar {
  border-radius: 50%;
  background-color: var(--avatar-bg);
  @include flex(center, center);
  overflow: hidden;

  &[tabIndex] {
    cursor: pointer;
  }
}


// Types
[data-avatar-type="img"],
[data-avatar-type="text"],
[data-avatar-type="placeholder"] {
  &:focus {
    outline-style: solid;
  }
}

[data-avatar-type="img"] {
  img {
    width: 100%;
    height: 100%;
  }

  &:focus {
    outline-color: $primary-100;
  }
}

[data-avatar-type="text"],
[data-avatar-type="placeholder"] {
  &:focus {
    outline-color: $gray-300;
  }
}

[data-avatar-type="text"] {
  color: var(--avatar-text);
  @include englishBodyXlRegular;

  @include ar {
    @include arabicBodyXlRegular;
  }
}

[data-avatar-type="placeholder"] {
  path {
    fill: var(--avatar-text);
  }
}


// Sizes
[data-avatar-size="xs"] {
  width: 1rem;
  height: 1rem;

  &:focus {
    outline-width: 0.125rem;
  }

  &[data-avatar-type="placeholder"] {
    svg {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

[data-avatar-size="sm"] {
  width: 1.5rem;
  height: 1.5rem;

  &:focus {
    outline-width: 0.125rem;
  }

  &[data-avatar-type="placeholder"] {
    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

[data-avatar-size="md"] {
  width: 2rem;
  height: 2rem;

  &:focus {
    outline-width: 0.125rem;
  }

  &[data-avatar-type="placeholder"] {
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

[data-avatar-size="lg"] {
  width: 2.5rem;
  height: 2.5rem;

  &:focus {
    outline-width: 0.25rem;
  }

  &[data-avatar-type="placeholder"] {
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

[data-avatar-size="xl"] {
  width: 3.25rem;
  height: 3.25rem;

  &:focus {
    outline-width: 0.25rem;
  }

  &[data-avatar-type="placeholder"] {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

[data-avatar-size="2xl"] {
  width: 3.75rem;
  height: 3.75rem;

  &:focus {
    outline-width: 0.25rem;
  }

  &[data-avatar-type="placeholder"] {
    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}
