@import "@app/styles/common.scss";

.mobile-nav-container {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: $primary-500;
  display: flex;
  flex-direction: column;
  gap: $space-32;
  padding: $space-16;
  transition: all 0.3s;

  &[data-mobile-nav-expanded="true"] {
    padding: $space-16 $space-16 $space-32;
    height: 100vh;
  }

  &__mobile-nav-menu {
    @include flex(center, space-between);
    gap: $space-4;

    &__logo {
      width: 8.125rem;
      height: 1.75rem;
      img{
        width: 100%;
        height: 100%;
      }
    }

    &__current-page {
      color: $gray-700;
      flex-grow: 1;
      text-align: end;
      @include englishBodyMdSemiBold;

      @include ar {
        @include arabicBodyMdSemiBold;
      }
    }

    &__collapse-btn {
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        color: $white;

      }
    }
  }

  &__business-box {
    button {
      width: 100%;
      margin-top: $space-16;
    }
  }

  &__nav-links {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: auto;
    min-height: 0;
  }

  &__actions-box {
    width: 100%;
    position: sticky;
    bottom: $space-32;
    padding-top: $space-32;
    display: flex;
    flex-direction: column;
    gap: $space-32;
    border-top: 0.0625rem solid $gray-200;
  }
}
