@import "@/styles/common.scss";

.stat-card {
  background: lighten($success-50, 12%); // light minty background
  border-left: 6px solid $primary-500;
  border-radius: $radius-md;
  padding: $space-16;
  display: flex;
  flex: 1;
  align-items: center;
  gap: $space-12;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);

  :global(html[dir="rtl"]) & {
    border-left: none;
    border-right: 6px solid $primary-500;
  }
}

.count {
  font-size: 1.25rem;
  font-weight: 600;
  color: $gray-900;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: $gray-800;
}
