@import "@app/styles/common.scss";

.business-info {
  @include flex(center);

  svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-inline-end: $space-8;
  }

  span {
    color: $white;
    @include englishBodyMdSemiBold;

    @include ar {
      @include arabicBodyMdSemiBold;
    }
  }
}
